<nav>
  <form class="" action="index.html" method="post">
    <a href="/parties"><button type="button" name="button">Parties</button></a> |
    <a href="/parties/new"><button type="button" name="button">Create a new Party</button></a> |
    <% if (currentUser) { %>
    Welcome <%= currentUser.username %><a href="/sessions/destroy"><button type="button" name="button">LOG OUT</button></a>
    <% } else { %>
      <a href="/users/new"><button type="button" name="button">Sign Up</button></a> |
      <a href="/sessions/new"><button type="button" name="button">Log In</button></a>
    <% } %>
    </form>
</nav>
