<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

        <h1>New Party page</h1>
        <form action="/parties" method="POST">
            partyIsFor: <input type="text" name="partyIsFor" />
            Date of Party: <input type="text" name="dateOfParty" />
            Admin: <input type="checkbox" name="admin" />
            <input type="submit" name="" value="Create Party"/>
        </form>

<%- include('../partials/footer.ejs') %>
