<%- include('./partials/header.ejs') %>


  <h1>SHHH this is Secret Santa</h1>
  <p></p>

<button type="button" name="button"><a href="/sessions/new">Log In</a></button>

<%- include('./partials/footer.ejs') %>
