<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

        <h1>New Party page</h1>
        <form action="/parties" method="POST">
            Location of Party: <input type="text" name="locOfParty" />
            Date of Party: <input type="datetime-local" name="dateOfParty" />  
            <input type="submit" name="" value="Create Party"/>
        </form>

<%- include('../partials/footer.ejs') %>
