<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

        <h1>User Login page</h1>
        <form action="/sessions" method="POST">
            Username: <input type="text" autocomplete="off" name="username" />
            Password: <input type="password" name="password" />
            <input type="submit" name="" value="User sign in"/>
        </form>

<%- include('../partials/footer.ejs') %>
